body {
  background-color: #000000;
  color: #F8F8F2;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #1822ac;
}

a {
  color: #751212;
}

p {
  color: #A6E22E;
  flex: 1 0 20%;
}

li, ul {
  color: #A6E22E;
  line-height: 1.6;
}

code {
  background-color: #000000;
  color: #9211ce;
}

pre {
  background-color: #000000;
  color: #F8F8F2;
}

blockquote {
  border-left: 5px solid #F92672;
  padding-left: 10px;
  color: #75715E;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger-menu .line {
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 6px 0;
}

.contact-icon {
  width: 20px; 
  height: auto;
  vertical-align: middle;
  margin-right: 5px; 
}
